* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    scroll-behavior: smooth;
    font-size: 1em;
    position: relative;
}

header,
main,
footer,
section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.container {
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h2 {
    font-size: 1.5em;
}

.hide {
    display: none !important;
}

/******************* OVERLAY ********************/

.menu-overlay {
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.menu-overlay-content {
    width: 0%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    background: rgb(0, 0, 0);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.4s;
}

.menu-overlay-content .close {
    width: 100%;
    margin-top: 30px;
}

.menu-overlay-content .fa-xmark {
    font-size: 2em;
    cursor: pointer;
}

.menu-overlay-content ul {
    margin-top: 100px;
    width: 100%;
    list-style: none;
}

.menu-overlay-content ul li {
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.menu-overlay-content p {
    width: 100%;
    margin-top: 20px;
}

.menu-overlay-content .menu-socials {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #cccccc;
}

.menu-overlay-content .menu-socials a {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

/******************* HEADER ********************/

.heading {
    width: 100%;
}

.cta {
    width: 100%;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
}

.cta h2 {
    font-size: 1em;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 10px 0;
}

.title {
    width: 70%;
    text-align: center;

}

.hamburger,
.shop {
    width: 15%;
}


/*************** HERO *****************/

.hero-image {
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: url("../img/hero.jpg") center no-repeat;
    background-size: cover;
}

/* .hero-image img {
    width: 100%;
} */

.hero-overlay {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row;
    bottom: 50px;
    left: 15px;
    margin: 450px 0 150px 0;
}

.hero-overlay a {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 30px;
    padding: 15px 30px;
    background: #fff;
    text-decoration: none;
    color: #000;
}

/*************** PRODUCTS *****************/

.products {
    padding: 50px 0;
}

.products h2 {
    padding-bottom: 50px;
}

.products .category {
    width: 100%;
    padding-bottom: 50px;
    position: relative;
}

.category img {
    width: 100%;
}

.category h2 {
    position: absolute;
    z-index: 1;
    bottom: 100px;
    left: 10px;
    color: #fff;
    text-transform: uppercase;
}

.category a {
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: 10px;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    background: #fff;
    color: #000;
}

/*************** ABOUT US *****************/

.about {
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/about.jpg') center, no-repeat;
    background-size: cover;
}

.the-story {
    width: 92%;
    background: #fff;
    padding: 30px;
}

.the-story h2 {
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 50px;
}

.the-story p {
    text-align: center;
    line-height: 32px;
}

/*************** TESTIMONIAL *****************/

.testimony .container {
    padding: 50px 0;
}

.testimony .container h2 {
    width: 100%;
    padding-bottom: 30px;
    font-size: 1.5em;
    text-align: center;
}

.testimony .container ul {
    width: 100%;
    list-style: none;
}

.testimony ul li {
    width: 80%;
    padding-bottom: 30px;
}

.testimony ul li p {
    padding-bottom: 10px;
}

/*************** FOOTER *****************/
footer {
    background: #cccccc;
}

footer .container {
    padding: 50px 0 20px 0;
}

footer h2 {
    width: 100%;
    font-size: 1.5em;
    padding-bottom: 30px;
}

footer .link-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

footer .footer-links-one,
footer .footer-links-two {
    width: 100%;
    list-style: none;
}

.footer-links-one li,
.footer-links-two li {
    color: #000;
    padding-bottom: 10px;
}

.footer-links-one li a,
.footer-links-two li a {
    text-decoration: none;
    color: #000;
}

footer .social {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    padding: 30px 0;
}

footer .social a {
    padding-right: 30px;
    color: #000;
    font-size: 1.25em;
}

/*************** TABLET STYLES *****************/

@media (min-width: 768px) {

    /******************* OVERLAY ********************/
    .close {
        top: 25px;
        left: 30px;
    }

    /*************** HEADER *****************/

    nav {
        margin: 20px 0;
    }

    /*************** HERO *****************/
    .hero-image {
        background: url("../img/hero.jpg") top no-repeat;
        background-size: cover;
    }

    .hero-overlay {
        margin: 550px 0 150px 3px;
    }

    /*************** PRODUCTS *****************/

    .products .container {
        justify-content: space-between;
    }

    .products .category {
        width: 48%;
        padding-bottom: 20px;
    }

    /*************** ABOUT US *****************/

    .the-story {
        width: 50%;
        margin: 100px auto;
    }

    /*************** TESTIMONIAL *****************/
    .testimony .container ul {
        width: 50%;
    }

    .testimony ul li {
        margin-bottom: 15px;
    }

    /*************** FOOTER *****************/

    footer .container {
        align-items: flex-start;
    }

    footer .link-box,
    footer .social {
        width: 50%;
        align-items: flex-start;
    }

    footer .footer-links-one,
    footer .footer-links-two {
        width: 50%;
    }

    footer .social {
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    }

    footer .signature {
        margin-top: 50px;
    }
}

/*************** DESKTOP STYLES *****************/
@media (min-width: 1440px) {
    /*************** HEADER *****************/

    .menu-overlay-content {
        width: 0%;
        height: 900px;
    }

    /*************** HERO *****************/

    .hero-overlay {
        margin: 550px 0 150px 0;
    }

    .hero-overlay a {
        margin-left: 100px;
    }

    /*************** PRODUCTS *****************/

    .products {
        margin: 100px 0;
    }

    .products .container {
        justify-content: space-between;
        align-items: flex-start;
    }

    .products .product-head {
        width: 100%;
        text-align: center;
    }

    .products .category {
        width: 25%;
    }

    /*************** ABOUT US *****************/

    .the-story {
        width: 40%;
        margin: 100px auto;
    }

    /*************** TESTIMONIAL *****************/
    .testimony {
        margin: 100px 0;
    }

    .testimony h2 {
        margin-bottom: 50px;
    }

    .testimony .container ul {
        width: 25%;
    }

    /*************** FOOTER *****************/

    footer {
        padding: 50px 0 0 0;
    }

    footer h2 {
        text-align: center;
        margin-bottom: 50px;
    }

    footer .container {
        width: 70%;
    }

    footer .social {
        justify-content: center;
    }

}